@model BibliotecaApp.Models.ViewModel.EmprestimoViewModel

@{
    ViewData["Title"] = "Novo Empréstimo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Novo Empréstimo</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <!-- GAMBIARRA => asp-route-LivroId="" -->
        <form asp-action="Emprestimo" asp-controller="Livros" asp-route-LivroId="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Campos ocultos para LivroId e UsuarioId -->
            <input type="hidden" asp-for="LivroId"/>
            <input type="hidden" asp-for="UsuarioId"/>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input readonly asp-for="Titulo" class="form-control"/>
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRetirada" class="control-label"></label>
                <input readonly asp-for="DataRetirada" asp-format="{0:yyyy-MM-dd}" class="form-control"/>
                <span asp-validation-for="DataRetirada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPrevistaDevolucao" class="control-label"></label>
                <input readonly asp-for="DataPrevistaDevolucao" asp-format="{0:yyyy-MM-dd}" class="form-control"/>
                <span asp-validation-for="DataPrevistaDevolucao" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <button type="submit" class="btn btn-primary">Confirmar Empréstimo</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
